<div class="product-list-container">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

  <p-card>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center p-3">
        <h2>Product List</h2>
        <p-button (click)="logout()" label="Logout" icon="pi pi-sign-out" styleClass="p-button-danger"></p-button>
      </div>
    </ng-template>

    <div class="p-fluid grid">
      <div class="col-12 md:col-4">
        <span class="p-input-icon-left w-full">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search products" class="w-full" />
        </span>
      </div>
      <div class="col-12 md:col-4">
        <p-dropdown [options]="categories" [(ngModel)]="filterOptions.category" (onChange)="onFilter()" placeholder="Select Category" [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-4">
        <p-dropdown [options]="priceRanges" [(ngModel)]="filterOptions.priceRange" (onChange)="onFilter()" placeholder="Select Price Range" [showClear]="true"></p-dropdown>
      </div>
    </div>
    
    <p-table
      #dt
      [value]="products"
      dataKey="id"
      [rows]="rows"
      [paginator]="true"
      [loading]="isLoading"
      [globalFilterFields]="['name', 'description', 'price', 'quantity']"
      [rowHover]="true"
      [showCurrentPageReport]="true"
      [(first)]="first"
      [totalRecords]="totalRecords"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{'min-width': '50rem'}"
      [lazy]="true"
      (onLazyLoad)="loadProducts($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <p-button icon="pi pi-eye" [routerLink]="['/products', product.id]" styleClass="p-button-rounded p-button-text p-button-info mr-2" pTooltip="View" tooltipPosition="top"></p-button>
            <p-button icon="pi pi-pencil" [routerLink]="['/products', product.id, 'edit']" styleClass="p-button-rounded p-button-text p-button-success mr-2" pTooltip="Edit" tooltipPosition="top"></p-button>
            <p-button icon="pi pi-trash" (onClick)="deleteProduct(product)" styleClass="p-button-rounded p-button-text p-button-danger" pTooltip="Delete" tooltipPosition="top"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center">No products found.</td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <div class="flex justify-content-end mt-3">
        <p-button label="Create New Product" icon="pi pi-plus" [routerLink]="['/products/create']" styleClass="p-button-success"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
