<div class="service-list-container">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

  <div class="card">
    <h2>Services List</h2>

    <div class="mb-3">
      <p-button label="Add New Service" icon="pi pi-plus" styleClass="p-button-success" [routerLink]="['/services/create']"></p-button>
    </div>

    <p-table [value]="services" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} services" [rowsPerPageOptions]="[10,25,50]"
             [globalFilterFields]="['name','description','category']">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
          <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="duration">Duration <p-sortIcon field="duration"></p-sortIcon></th>
          <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service>
        <tr>
          <td>{{service.name}}</td>
          <td>{{service.description}}</td>
          <td>{{service.price | currency}}</td>
          <td>{{service.duration}} minutes</td>
          <td>{{service.category}}</td>
          <td>
            <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-success mr-2" [routerLink]="['/services', service.id, 'edit']"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger" (onClick)="deleteService(service)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No services found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
